@model Mvc_basic_1.Models.PersonViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PersonViewModel</h4>
<hr />
<div>
    <form asp-action="Create">


    </form>

</div>

<div>
    <a asp-action="Index"> Back to list</a>
</div>