@model Mvc_basic_1.Models.People
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
    <div class="row">
        <div class="col">
            <p>@Model.Name</p>
        </div>
        <div class="col">
            <p>@Model.Country</p>
        </div>
    </div>