@model Mvc_basic_1.Models.People
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Rename";
}

<h1>Rename Person</h1>

<form onsubmit="postRename(event)" method="post" data-target="addToList" asp-controller="Persons" asp-action="PersonRenamePartial">

    <label asp-for="Name"></label>
    <input asp-for="Name" /><span asp-validation-for="Name"></span>
    <br />
    <label asp-for="Country"></label>
    <input asp-for="Country" /><span asp-validation-for="Country"></span>
    <br />
    <input name="id" value="@Model.Id" type="hidden" /> @*Sending id hidden to PersonRenamePartial post*@
    <input type="submit" value="Rename People" />

</form>